@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h2>Нахождение лица в ЛТП</h2>
</div>

<ul class="">
    <br />
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Доставление/оформление лица", "Index", "Napravs")</span>
        </div>
    </li>

    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Обжалование решения о направлении в ЛТП", "Index", "Objals")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Отряд", "Index", "Otrads")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Задолженности лица", "Index", "Debts")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Связи лица", "Index", "Svazs")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Трудовая деятельность до содержания в ЛТП", "Index", "Works")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Трудовая деятельность в ЛТП", "Index", "WorkLTPs")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Завимости", "Index", "Zavis")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Информация врача-нарколога", "Index", "Lechens")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Участие в общественной жизни ЛТП", "Index", "Obchests")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Отношение к лицам", "Index", "Soderotnoshes")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Информация психолога", "Index", "Psixes")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Дисциплинарные проступки", "Index", "Discips")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Самовольное оставление ЛТП", "Index", "Samohods")</span>
        </div>
    </li>

</ul>