@model IEnumerable<AISLTP.Entities.Privent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Srok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inspec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Srok)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inspec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Otc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
