@model IEnumerable<AISLTP.Entities.Koap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Court.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fabula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vidvz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sudim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Court.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fabula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Otch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vidvz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sudim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>