@using AISLTP.Entities
@model Lico

@{
    ViewBag.Title = "Информация о лицу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация о лице (<b>@Model.Fam @Model.Ima @Model.Otc</b>):</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Персональные данные
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <dt>
                            @Html.DisplayNameFor( model => model.Fam )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Fam )
                        </dd>

                        <dt>
                            @Html.DisplayNameFor( model => model.Ima )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Ima )
                        </dd>

                        <dt>
                            @Html.DisplayNameFor( model => model.Otc )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Otc )
                        </dd>

                        <dt>
                            @Html.DisplayNameFor( model => model.Dr )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Dr )
                        </dd>
                        <hr />
                        <dt>
                            @Html.DisplayNameFor( model => model.Pol.Txt )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Pol.Txt )
                        </dd>
                        <dt>
                            @Html.DisplayNameFor( model => model.Nac.Txt )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Nac.Txt )
                        </dd>


                        <dt>
                            @Html.DisplayNameFor( model => model.Vneshnost )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Vneshnost )
                        </dd>
                        <dt>
                            @Html.DisplayNameFor( model => model.Pasport )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Pasport )
                        </dd>
                        <hr />
                        <b><h4>Место рождения:</h4></b>
                        <dt>
                            @Html.DisplayNameFor( model => model.Obl.Txt )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Obl.Txt )
                        </dd>
                        <dt>
                            @Html.DisplayNameFor( model => model.Rn.Txt )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Rn.Txt )
                        </dd>
                        <dt>
                            @Html.DisplayNameFor( model => model.Np.Txt )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.Np.Txt )
                        </dd>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Адреса:
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul>
                            @foreach (Address c in Model.Addresses)
    {
                        @:
                        <b>Область: </b> @c.Obl.Txt
                        @:
                        <b>Район:</b> @c.Rn.Txt
                        @:
                        <b>Населенный пункт:</b> @c.Np.Txt
                        @:
                        <b>Улица:</b> @c.Ul
                        @:
                        <b>Дом:</b> @c.Dom
                        @:
                        <b>Корпус:</b> @c.Korpus
                        @:
                        <b>Квартира</b> @c.Kvartira
                        <hr />
}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>


    </dl>
</div>


<p>
    @Html.ActionLink( "Редактировать" , "Edit" , new { id = Model.ID } ) |
    @Html.ActionLink( "Назад" , "Index" )
</p>
