@{
    ViewBag.Title = "Spravochniki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h2>Справочники</h2>
</div>

<ul class="">

    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник ЛТП" , "Index" , "Sp_ltp" )</span>
        </div>
    </li>
    <hr />
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник стран мира" , "Index" , "Sp_str_mir" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник областей" , "Index" , "Obls" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник районов" , "Index" , "Sp_rn" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник населенных пунктов" , "Index" , "Sp_np" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник улиц" , "Index" , "Sp_ul" )</span>
        </div>
    </li>
    <hr />
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник сотрудников" , "Index" , "Sotr" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник должностей" , "Index" , "Sp_dolj" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник званий" , "Index" , "Sp_zv" )</span>
        </div>
    </li>
    <hr />
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник языков" , "Index" , "Sp_lang" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник видов связи" , "Index" , "Sp_vid_sv" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник навыков" , "Index" , "Sp_nav" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник специальностей" , "Index" , "Sp_spec" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник оснований освобождения" , "Index" , "Sp_osn_osv" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник оснований заключения" , "Index" , "Sp_osn_zak" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник судов" , "Index" , "Sp_court" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник единиц измерения" , "Index" , "Sp_ed_izm" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник видов изъятого" , "Index" , "Sp_vid_iz" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник образования" , "Index" , "Sp_educ" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник особенностей речи" , "Index" , "Sp_rech" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник УК Республики Беларусь" , "Index" , "Sp_rech" )</span>
        </div>
    </li>
</ul>