@{
    ViewBag.Title = "Spravochniki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h2>Справочники</h2>
</div>

<ul class="">

    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник ЛТП" , "Index" , "LTP" )</span>
        </div>
    </li>
    
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник областей" , "Index" , "Obl" )</span>
        </div>
    </li>

    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник районов" , "Index" , "Rn" )</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник населенных пунктов" , "Index" , "Np" )</span>
        </div>
    </li>
   
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник сотрудников" , "Index" , "Sotr" )</span>
        </div>
    </li>

    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink("Справочник оснований для направления в ЛТП", "Index" , "Osnnap" )</span>
        </div>
    </li>
    
      
    
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник медицинских коммисий" , "Index" , "Medcom")</span>
        </div>
    </li> 
    
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник документов, передаваемых при доставлении" , "Index" , "Doc")</span>
        </div>
    </li>
    
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник образований" , "Index" , "Educ")</span>
        </div>
    </li>
    
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник профессий" , "Index" , "Prof")</span>
        </div>
    </li>
    <li>
        <div class="alert alert-success">
            <span class="alert-link"> @Html.ActionLink( "Справочник специальностей" , "Index" , "Spec")</span>
        </div>
    </li>
</ul>