@model IEnumerable<AISLTP.Entities.Lico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выберите лицо для добавления задолженности</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Fam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dr)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Fam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Otc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dr)
            </td>

            <td>
                @Html.ActionLink("Выбрать", "Show", new { id = item.ID })
            </td>
        </tr>
    }
</table>