@model AISLTP.Entities.Address

@{
    ViewBag.Title = "CreateAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Создание нового адреса:</h4>
        <hr />
        @Html.ValidationSummary( true , "" , new { @class = "text-danger" } )
        <div class="form-group">
            @Html.LabelFor( model => model.OblID , "Область" , htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.DropDownList( "OblID" , null , htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.OblID , "" , new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.RnID , "Район" , htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.DropDownList( "RnID" , null , htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.RnID , "" , new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.NpID , "Населенный пункт" , htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.DropDownList( "NpID" , null , htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.NpID , "" , new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.Ul , htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.Ul , new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.Ul , "" , new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.Dom , htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.Dom , new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.Dom , "" , new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.Korpus , htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.Korpus , new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.Korpus , "" , new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.Kvartira , htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.Kvartira , new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.Kvartira , "" , new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink( "Назад" , "Show" )
</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}