<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="form-row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
            </div>
            <div class="row">
                <div class="col">
                    <div class="navbar-header">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li> @Html.ActionLink( "АИСЛТП" , "Index" , "Home" , new { area = "" } , new { @class = "navbar-brand" } )</li>
                            </ul>
                            <ul class="nav navbar-nav">

                                <li>  @Html.ActionLink( "Главная" , "Index" , "Home" ) </li>
                                <li>  @Html.ActionLink( "Поиск" , "Index" , "Search" ) </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Журналы учета <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink( "Журнал лиц" , "Index" , "Licoes" ) </li>
                                        <li>@Html.ActionLink( "Адрес" , "Index" , "Addresses" ) </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Журнал осуждений</a></li>
                                        <li><a href="#">Журнал преступлений</a></li>
                                        <li><a href="#">Журнал административных правонарушений</a></li>
                                        <li><a href="#">Журнал дисциплинарных проступков</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Журнал ЛТП</a></li>
                                        <li><a href="#">Журнал приема/передачи лица</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Журнал мед. данных</a></li>
                                        <li>@Html.ActionLink( "Журнал адресов" , "JournalAddress" , "Menu" )</li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вспомогательные журналы<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink( "Справочники" , "Index" , "Sp" )</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @RenderSection( "scripts" , required: false )
</body>
</html>