@model AISLTP.Entities.Address

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Np.Txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Np.Txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obl.Txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obl.Txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rn.Txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rn.Txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korpus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korpus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kvartira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kvartira)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
